*Makefile
*Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
/tests/check_lock_free_queue
/tests/benchmark
.deps/
.dirstamp
.libs/
*.l[ao]
*~
*.o
